{% extends  "master.html" %}

{% load static %}

{% block title %}  {{title}} {%endblock%}

{% block content%}
    <h1>Hard😉Boiled</h1>
    <p>Firm whites,fully cooked yolk.Good with egg curry,also does great as a solo snack! </p>
    <div id="timer">00:00</div>
    <a href="{% url 'timer' %}"><button>Back to Timer</button></a>

{%endblock%}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
    const audio = new Audio("{% static 'timer/chirps.mp3' %}");

    //unlocking audio
    document.body.addEventListener('click', function unlockAudio(){
        audio.play().then(() => {
            audio.pause();
            audio.currentTime = 0;
        }).catch(() => {});
        document.body.removeEventListener('click',unlockAudio);
    })

    let seconds = 10 * 60
    let timerInterval = setInterval(() => {
        if (seconds <= 0) {
            clearInterval(timerInterval);
            document.getElementById('timer').textContent = 'Your egg(s) are ready!'
            if(typeof confetti === "function"){
                confetti({
                    particleCount: 500,
                    spread: 70,
                    origin: { y : 0.6 }
                });
            }
            audio.play().catch(e => console.log('Audio play failed:' ,e));
            setTimeout(() => alert('Timer finished!'), 1200)
            return;
        }

        const mins = Math.floor (seconds /60)
        const secs = seconds % 60
        document.getElementById('timer').textContent =
            `${mins.toString().padStart(2 ,'0')} : ${secs.toString().padStart(2 ,'0')}`
        seconds--;
    }, 1000)
</script>
{%endblock%}