{% extends  "master.html"%}

{% load static %}

{% block title%} {{title}} {%endblock%}

{% block content %}
    <h1>Soft🤤boiled</h1>
    <p>Soft set whites,jammy yolk.Good with Ramen or Noodle soups,rice dishes too!</p>
    <div id="timer">00:00</div>
    <a href="{% url 'timer' %}"><button>Back to Timer</button></a>

{%endblock%}

{% block script%}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
    const audio = new Audio("{% static 'timer/bell-ring.mp3' %}")

    //unlock audio on first UI
    document.body.addEventListener('click',function unlockAudio() {
        audio.play().then(() => {
            audio.pause();
            audio.currentTime = 0;

        }).catch(() => {});
        document.body.removeEventListener('click' ,unlockAudio);
    })
    let seconds = 8 * 60;
    let timerInterval = setInterval(() => {
        if (seconds <= 0) {
            clearInterval(timerInterval)
            document.getElementById('timer').textContent = 'Your Egg(s) are ready'
            if(typeof confetti === "function") {
                confetti({
                    particleCount: 500,
                    spread: 70,
                    origin: { y: 0.6 }
                })
            }
            audio.play().catch(e => console.log('Audio play failed:',e));
            setTimeout(() => alert('Timer finished!') ,1200) //delays the alert for the confetti
            return;
        }

        const mins = Math.floor(seconds / 60)
        const secs = seconds % 60;
        document.getElementById('timer').textContent =
            `${mins.toString().padStart(2 ,'0')} : ${secs.toString().padStart(2, '0')}`
        seconds--;
    }, 1000)
</script>
{%endblock%}